.style-item {
    width: 180px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #374151;
    border-radius: 12px;
    .style-icon {
        margin-bottom: 6px;
    }
}

.style-context {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 32px;
}