
.quoat-alert {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
    padding: 20px 24px;
    border-radius: 24px;
    position: relative;
}

.go-login {
    width: 60%;
}