
.history-pages {
    margin-top: 48px;
    .history-wrapper {
        max-width: 800px;
        margin: 0 auto;
        .page-navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 36px;
            cursor: pointer;
            .navigation {
                display: flex;
                justify-content: center;
                align-items: center;
                .back-icon {
                    // font-weight: bold;
                    // margin-left: 6px;
                    margin-right: 20px;
                }
                .navigation-text {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            .delete-all {
                font-size: 12px;
                color: #6B7280;
            }
        }
        .user-tips {
            font-size: 12px;
            color: #ff4d4f;
            margin-bottom: 12px;
        }
        .history-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style: none;
            margin-bottom: 60px;
            .list-item {
                background: #fff;
                border-radius: 12px;
                padding: 16px 24px;
                .item-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 8px;
                    .time-info {
                        display: flex;
                        align-items: center;
                        .time {
                            font-size: 14px;
                            color: #6B7280;
                            margin-right: 12px;
                        }
                        .style {
                            font-size: 14px;
                            color: #7C3AED;
                            background: #EDE9FE;
                            padding: 2px 10px;
                            border-radius: 8px;
                        }
                    }
                    .operate-context {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        .copy-item {
                            font-size: 12px;
                        }
                        .copy-item.success {
                            color: #389e0d;
                        }
                        .copy-item.info {
                            color: #7C3AED;
                        }
                        .delete-item {
                            color: #EF4444;
                            font-size: 12px;
                        }
                    }
                    
                }
                .source-text {
                    font-size: 12px;
                    color: #111827;
                    margin-bottom: 10px;
                }
                .transform-text {
                    font-size: 12px;
                    color: #6B7280;
                }
            }
        }
        .empty-history {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #fff;
            border-radius: 24px;
            padding: 24px;
            .empty-icon {
                font-size: 48px;
            }
            .empty-tips {
                color: #595959;
                font-size: 14px;
                margin-bottom: 8px;
            }
            .empty-sub-tips {
                color: #bfbfbf;
                font-size: 14px;
                margin-bottom: 12px;
            }
            .go-home-btn {
                color: #fff;
                background: #7C3AED;
                border-radius: 12px;
                padding: 8px 18px;
            }
        }
    }
}