
.header {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11.5px 32px;
    .logo-context {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            background: linear-gradient(90deg, #7C3AED 0%, #A78BFA 100%);
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            .inner-logo {
                width: 24px;
                height: 24px;
                background-color: #fff;
            }
        }
        .title {
            font-size: 24px;
            font-weight: 600;
        }
    }
    .opreate-context {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        .opreate-item {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #374151;
            &:hover {
                color: #7C3AED;
            }
            .history-icon {
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }
            .library-icon {
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }
            .rocket-icon {
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }
            .item-text {
                font-size: 14px;
                // color: #374151;
            }
        }
        .opreate-item.active {
            color: #7C3AED;
        }
    }
    .login-context {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .count-section  {
            border-radius: 16px;
            background: #EDE9FE;
            padding: 8px 16px;
            color: #7C3AED;
            font-weight: bold;
            font-size: 14px;
        }
    }
    .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #7C3AED;
    }
    .login-btn {
        background: #7C3AED;
        color: #fff;
        padding: 8px 22px;
        border-radius: 8px;
        font-size: 14px;
    }
}

.quick-transform {
    // background: transparent !important;
    .quick-title {
        font-size: 18px;
        font-weight: bold;
        color: #111827;
        margin-bottom: 16px;
    }
}